APP_NAME=ExperienceService
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8002

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=hatchloom
DB_USERNAME=hatchloom
DB_PASSWORD=secret

ENROLMENT_SERVICE_URL=http://enrolment-service:8003

CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
